.notify {
    position: fixed;
    width: 100%;
    color: #fff!important;
    z-index: 1021;
    display: none;
    text-align: center;
    padding: 10px 0;
    top: 0;
}

.notify.error {
    background-color: #f55953;
}

.notify.success {
    background-color: #4dbd74;
}

.notify.warning {
    background-color: #ffc107;
}